##                                Assignment -01

## Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
variable=[
"Hello World",# string
[1, 2, 3, 4, 5],#
3.14,
(1, 2, 3, 4, 5)
]

In [4]:
variable

['Hello World', [1, 2, 3, 4, 5], 3.14, (1, 2, 3, 4, 5)]

 ## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [ ]:
Here's a summary of the data types:

(i) var1: string
(ii) var2: string
(iii) var3: list
(iv) var4: float

## Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
 # (i) "/" operator is the division operator. It is used to divide one number by another and returns the quotient or result of the division
# example:-
a=2
b=3
y=a/b
print(y)

0.6666666666666666

In [4]:
 # (ii) "%" operator is the modulus operator. It returns the remainder of the division between two numbers.
 #example:-
a=4
b=3
y=a%b
print(y)

1

In [5]:
#(iii) "//" operator is the floor division operator.
#It performs division between two numbers and returns the largest possible integer that is less than or equal to the quotient
# example:-
a=10
b=4
y=a//b
print(y)

2

In [6]:
#(iv) "**" operator is the exponentiation operator. It raises a number to the power of another number
#example:-
a=2
b=4
y=a**b
print(y)

16

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [7]:
lst = [1, 'hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 25}, "Ranjeet", (4, 5, 6), 'world', False]

for i in lst:
    print(i, type(i))

1 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 25} <class 'dict'>
Ranjeet <class 'str'>
(4, 5, 6) <class 'tuple'>
world <class 'str'>
False <class 'bool'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [8]:
A = 36  
B = 4   
count = 0  
while A % B == 0:
    A = A / B
    count += 1

print("Number of times A is divisible by B:", count)

Number of times A is divisible by B: 1

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [9]:
lst = [2, 6, 9, 12, 17, 21, 24, 27, 32, 36, 39, 42, 47, 51, 54, 57, 62, 66, 69, 72, 77, 81, 84, 87, 92]

for element in lst:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

2 is not divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
17 is not divisible by 3
21 is divisible by 3
24 is divisible by 3
27 is divisible by 3
32 is not divisible by 3
36 is divisible by 3
39 is divisible by 3
42 is divisible by 3
47 is not divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
62 is not divisible by 3
66 is divisible by 3
69 is divisible by 3
72 is divisible by 3
77 is not divisible by 3
81 is divisible by 3
84 is divisible by 3
87 is divisible by 3
92 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
1 .Immutable Data Types:-
Immutable data types are those whose values cannot be changed after they are created.

In [13]:
x = 5
x += 1  # create object
print(x)  # output 6

my_tuple = (1, 2, 3)
my_tuple[0] = 4  # value cannot be modified

6

TypeError: 'tuple' object does not support item assignment

In [ ]:
2. Mutable Data Types:-
Mutable data types are those whose values can be changed after they are created

In [14]:
my_list = [1, 2, 3]
my_list[0] = 4  # Modifies the first element of the list
print(my_list)

[4, 2, 3]